---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import TechnicalSkills from "@components/home/TechnicalSkills.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Technologies from "@components/home/Technologies.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      
      <!-- Featured Projects Section -->
      <section id="projects" class="my-8">
        <div class="flex items-center mb-8">
          <div class="w-1 h-8 bg-blue mr-4"></div>
          <h2 class="text-2xl font-semibold dark:text-light">FEATURED PROJECTS</h2>
        </div>
        <ProjectsWrapper projects={featureProjects} />
      </section>

      <div id="experience">
        <Experience title={"EXPERIENCE"} details={info.experience} />
      </div>
      <Technologies title={"TECHNOLOGIES"} technologies={info.technologies} />
      <TechnicalSkills title={"CERTIFICATIONS"} skills={info.skills} />
      <Experience title={"EDUCATION"} details={info.education} />
      
    </Layout>
  </body>
</html>
